{% extends 'Alumno/base.html' %}

{% block content %}
<div class="row">
    <div class="col-lg-12">
        <h1 class="fw-bold my-4">Lista de Estudiantes</h1>
    </div>

    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Edad</th>
                    <th>Sexo</th>
                    <th>Telefono</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for itemalumno in valumno %}
                    <tr>
                        <td>{{ itemalumno.nombre }}</td>
                        <td>{{ itemalumno.apellido }}</td>
                        <td>{{ itemalumno.edad }}</td>
                        <td>{{ itemalumno.sexo }}</td>
                        <td>{{ itemalumno.telefono }}</td>
                        <td>
                            <a href="{% url 'alumno_update' itemalumno.id %}"><button class="btn btn-warning">Editar</button></a>
                            <a href="{% url 'alumno_delete' itemalumno.id %}"><button class="btn btn-danger">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
