{% extends 'Alumno/base.html' %}
{% block content %}
    <h1 class="my-4">Lista de Alumnos de Primaria</h1>
    <form class="d-flex">
        <a class="btn btn-primary shadow" href="{% url "alumno_new" %}">+ Agregar Alumnos</a>
    </form>
    <table class="table table-striped mt-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellido</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Teléfono</th>
                <th>Grado</th>
                <th>Jornada</th>
                <th>Pae</th>
                <th>Transporte</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in estudiantes_primaria %}
                <tr>
                    <td>{{ alumno.nombre }}</td>
                    <td>{{ alumno.apellido }}</td>
                    <td>{{ alumno.edad }}</td>
                    <td>{{ alumno.sexo }}</td>
                    <td>{{ alumno.telefono }}</td>
                    <td>{{ alumno.grado }}</td>
                    <td>{{ alumno.jornada }}</td>
                    <td>{{ alumno.pae|yesno:"Sí,No" }}</td>
                    <td>{{ alumno.transporte|yesno:"Sí,No" }}</td>
                    <td>
                        <a href="{% url 'alumno_update' alumno.id %}" class="btn btn-warning">Editar</a>
                        <a href="{% url 'alumno_delete' alumno.id %}" class="btn btn-danger">Eliminar</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}