{% extends 'Alumno/base.html' %}
{% block content %}
    <section class="my-3">
        <div class="d-flex gap-2">
            <a type="button" class="btn btn-primary" href="{% url "inicio" %}">
                <i class="bi bi-person-fill"></i> Numero de Estudiantes <span class="badge text-bg-secondary">{{ page_obj.paginator.count }}</span>
            </a>
            <a type="button" class="btn btn-primary" href="{% url "inicio_primaria" %}">
                <i class="bi bi-person-fill"></i> Estudiantes de Primaria <span class="badge text-bg-secondary">{{ estudiantes_primaria.count }}</span>
            </a>
            <a type="button" class="btn btn-primary" href="{% url "inicio_secundaria" %}">
                <i class="bi bi-person-fill"></i> Estudiantes de Secundaria <span class="badge text-bg-secondary">{{ estudiantes_secundaria.count }}</span>
            </a>
        </div>
    </section>
    <hr>
    <div class="d-flex justify-content-between align-items-center my-4">
        <h1 class="fw-semibold">Lista de Alumnos Secundaria</h1>
        <a class="btn btn-primary shadow fw-medium" href="{% url 'alumno_new' %}"><i class="bi bi-person-plus-fill"></i> Agregar Alumnos</a>
    </div>
    <table class="table table-dark mt-4">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Edad</th>
                <th>Sexo</th>
                <th>Teléfono</th>
                <th>Grado</th>
                <th>Jornada</th>
                <th>Pae</th>
                <th>Transporte</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% for alumno in estudiantes_secundaria %}
                <tr>
                    <td>{{ alumno.nombre }} {{ alumno.apellido }}</td>
                    <td>{{ alumno.edad }}</td>
                    <td>{{ alumno.sexo }}</td>
                    <td>{{ alumno.telefono }}</td>
                    <td>{{ alumno.grado }}</td>
                    <td>{{ alumno.jornada }}</td>
                    <td>{{ alumno.pae|yesno:"Sí,No" }}</td>
                    <td>{{ alumno.transporte|yesno:"Sí,No" }}</td>
                    <td>
                        <a href="{% url 'alumno_update' alumno.id %}?next={% url 'inicio_secundaria' %}" class="me-2" aria-label="Editar"><i class="bi bi-pencil-fill"></i></a>
                        <a class="" data-bs-toggle="modal" data-bs-target="#ModalDelete" data-id="{{ alumno.id }}" role="button" aria-label="Borrar"><i class="bi bi-trash-fill"></i></a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="modal fade" id="ModalDelete" aria-hidden="true" aria-labelledby="ModalDeleteLabel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="ModalDeleteLabel">Eliminar Alumno</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Estás seguro de que deseas eliminar este alumno?
            </div>
            <div class="modal-footer">
              <a id="delete-confirm" href="#" class="btn btn-danger">Eliminar</a>
            </div>
          </div>
        </div>
    </div>

    <script>
        var ModalDelete = document.getElementById('ModalDelete');
        ModalDelete.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var alumnoId = button.getAttribute('data-id');
            var deleteConfirm = ModalDelete.querySelector('#delete-confirm');
            deleteConfirm.href = '{% url "alumno_delete" 0 %}'.replace('0', alumnoId);
        });
    </script>
{% endblock %}